$primary-color: #cd572d;
$primary-color-light: #ffffff;
$background-accent: #f8ecd8;
$background-accent-alt: #fbc141;
$contrast-color: #024da1;
$highlight-color: #ff7f50;

$text-dark: black;

//breakpoints - mobile@375px
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

//font
$heading-font-family: "Abril Fatface";
$text-font-family: "Lato";
