$primary-color: #cd572d;
$primary-color-light: #FFFFFF;
$background-accent: #F8ECD8;
$background-accent-alt: #FBC141;
$contrast-color: #024DA1;
$highlight-color: #FF7F50;

$text-dark: black;

//breakpoints - mobile@375px
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

//font
$heading-font-family: "Abril Fatface";
$text-font-family: "Lato";


