@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.uv {
  @include flexcolumn;
  background-color: $background-accent;
  align-items: center;
  row-gap: 1.5rem;
  padding: 2rem 2rem 3rem 2rem;
  border-top: $background-accent-alt 0.005px solid;


 &__heading {
  font-size: 100;

 } 

&__info {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  padding: 1rem 1rem 2.5rem 1rem;
}

  &__index {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    border-radius: 50px;
    // padding-bottom: 1rem;
  }

  &__level {
    font-weight: 700;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
  }

  &--low {
    color: #FBC141;;
  }

  &--moderate {
    color: #cd572d;
  }

  &--high {
    color: #EE3823;
  }

  &--very-high {
    color: #ff402b;
  }

  &--extreme {
    color: #d51500;
  }
}

