@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.footer {
  background-color: $contrast-color;
  padding: 2rem;
  height: 100%;
  display: flex;
  align-items: stretch;

  &__info {
    @include flexcolumn;
    flex: 1;
    padding-right: 1rem;
  }

  &__text {
    color: $background-accent;
    width: 100%;
    row-gap: 3rem;

    &--bold {
      font-weight: 700;
    }
  }

  &__background {
    flex: 1;
    background-image: url("../../assets/images/pictures/umbrella.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: 1px $background-accent solid;
  }
}
