@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.landing {
  background: $background-accent;
  padding: 0rem 2rem 2rem 2rem;
  min-height: 100vh;
  flex: 1;
  @include flexcolumn;


  &__header {
    padding-bottom: 1.5rem;
  }

  &__container {
    flex:1;
    height: 100%;
    padding: 3rem 0rem;
    width: 100%;
@include flexcolumn;
  }
}
