@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.home {
  @include flexcolumn;

  &__container {
    @include flexcolumn;

    @include tablet {
      flex-direction: row;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__timers {
    @include flexcolumn;
    background-color: $background-accent-alt;
    padding: 3rem 2rem;
    row-gap: 1rem;

    @include tablet {
      width: 40%;
    }
  }

  &__header {
    font-size: 2.8125rem;
  }

  &__music {
    padding: 2rem;
    background-color: $background-accent;

    @include tablet {
      background-color: $background-accent-alt;
      padding: 3rem 2rem 3rem 0rem;
      flex: 1;
    }
    @include desktop {
      display: flex;
    }
  }

  &__image-box {
    width: 0%;

    @include desktop {
      height: 35rem;
      padding: 0rem 2rem 0rem 2rem;
      width: 1.25rem;
      flex-grow: 1;
      @include flexcolumn;
    }
  }

  &__image {
    display: none;
    @include desktop {
      display: unset;
      height: 35rem;
      border-radius: 1.5625rem;
      width: auto;
      max-height: 100%;
      object-fit: cover;
      flex: 1;
    }
  }
}
